@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: transparenty;
  }